body {
	background-color: #e7f6f2;
}

hr {
	border-style: none;
	border-top-style: dotted;
	border-color: grey;
	height: 0px;
	border-width: 5px;
	width: 5%;
}

img {
	height: 100px;
}

h1 {
	color: #2c3333;
}

h3 {
	color: #2c3333;
}
